.header {
    background-color: grey;
    text-align: center;
    padding: 10px;

}

.table-of-cities {
    border: solid 1px;
}

.search-bar {
    padding-bottom: 10px;
}

.card {
    margin: 10px;
}
.card-body{
    border: solid 1px;
}
/* .navbar{
    text-align: center;
} */